<storybook-nav
  link1="Campaigns"
  link2="Subscribers"
  link3="Email Templates"
></storybook-nav>

<storybook-header
  title="Campaigns"
  cta="New Campaign"
  icon="fas fa-edit"
></storybook-header>

<constrast-ratio [fillColor]="fillColor"></constrast-ratio>

<storybook-funnel-bar
  [title]="'Targeted'"
  id="targeted"
  [cssClass]="'funnel-bar'"
  [fillColor]="fillColor"
  [amount]="1500"
  [percentage]="100"
  [parentPercentage]="100"
></storybook-funnel-bar>
<storybook-funnel-bar
  [title]="'Engaged'"
  [cssClass]="'funnel-bar'"
  [fillColor]="fillColor"
  [amount]="1050"
  [percentage]="70"
  [parentPercentage]="100"
></storybook-funnel-bar>
<storybook-funnel-bar
  [title]="'Applied'"
  [cssClass]="'funnel-bar'"
  [fillColor]="fillColor"
  [amount]="450"
  [percentage]="30"
  [parentPercentage]="70"
></storybook-funnel-bar>
<storybook-funnel-bar
  [title]="'Processed'"
  [cssClass]="'funnel-bar'"
  [fillColor]="fillColor"
  [amount]="225"
  [percentage]="15"
  [parentPercentage]="30"
></storybook-funnel-bar>
<storybook-funnel-bar
  [title]="'Processed'"
  [cssClass]="'funnel-bar'"
  [fillColor]="fillColor"
  [amount]="195"
  [percentage]="13"
  [parentPercentage]="15"
></storybook-funnel-bar>

<router-outlet></router-outlet>
