@import url("../../../brand.css");

.funnel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.funnel-title {
  margin-left: auto;
  padding: 0 50px;
}

.funnel-percentage {
  margin-right: auto;
  padding: 0 50px;
}

.funnel-bar {
  color: #ffffff;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: var(--brand-color);
  font-size: 24px;
  font-weight: bold;
  line-height: 1.33;
  height: 57px;
  margin: auto;
}

.funnel-bar:hover {
  font-size: 32px;
  font-weight: bolder;
  line-height: 1.25;
}

#targeted {
  width: 630px;
}
